
<left>

  <h2 class="github-title">Github Repo</h2>

  <h3 class="github-title">Build a Static Website on AWS Amplify Workshop</h3>
  <a class="github-button" href="https://github.com/jennapederson/building-a-static-website-with-aws-amplify" data-icon="octicon-star" data-show-count="true" aria-label="Star on GitHub">Star</a>
  &nbsp;<a class="github-button" href="https://github.com/jennapederson/building-a-static-website-with-aws-amplify/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork on GitHub">Fork</a><br />

</left>

<script async defer src="https://buttons.github.io/buttons.js"></script>